


/* ********** ACCESS PRELOADER ********* */
#access_preloader_container{
    display: none;
}
.access-preloader-container{
    top: 0px;
    width: 100%;
    z-index: 30;
    height: 100vh;
    position: fixed;
    display: table;
    text-align: center; 
}
.access-preloader-dark-theme{
    width: 100%;
    height: 100vh;
    padding: 0px 10px;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.623);
}
.access-inner-content{
    width: 150px;
    height: 80px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
}
.access-preloader{
    top: 25px;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid  rgb(66, 66, 163);
    border-right: 3px solid transparent;
    -webkit-animation: access-spin 0.4s linear infinite; 
    animation: access-spin 0.4s linear infinite;
}
@keyframes access-spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* ********** BUTTONS ************ */
button.btn-fill{
    padding: 5px 10px;
    border: none;
    color: #fff;
    transition:  background-color 0.2s ease;
    background-color: rgb(31, 31, 77);
}
button.btn-fill:hover{
    background-color: rgb(14, 14, 77);
}
button.btn-fill-block, button.btn-mini{
    padding: 7px 10px;
    border: none;
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(31, 31, 77);
    transition:  background-color 0.2s ease;
    background-color: rgb(31, 31, 77);
}
button.btn-fill-block{
    width: 100%;
}
button.btn-fill-block:hover, a.mini-btn:hover{
    color: #fff;
    background-color: rgb(14, 14, 77);
}
button.btn-mini{
    padding: 7px 20px;
}
a.mini-btn{
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(62, 62, 165); 
    transition:  background-color 0.2s ease;
    background-color: rgb(68, 68, 179); 
}
/* ********* ALERT *************** */
.alert-form{
    height: 16px;
    font-size: 10px;
}
.main-alert-danger{
    font-size: 13px;
    padding: 5px 0px;
    border-radius: 4px;
    color: rgb(202, 0, 0);
    border: 1px solid rgb(247, 102, 102);
    background-color: rgb(243, 168, 168);
}
.main-alert-success{
    font-size: 13px;
    padding: 5px 0px;
    color: green;
    border-radius: 4px;
    border: 1px solid rgb(68, 247, 68);
    background-color: rgb(170, 250, 170);
}
.form-error-alert{
    font-size: 14px;
    height: 16px;
    color: rgb(202, 0, 0);
}



/* ***********BOTTOM ALERT *********** */
.bottom-alert{
    height: 0px;
}
.bottom-alert-danger, .bottom-alert-success{
    z-index: 10;
    right: 3px;
    bottom: -100px;
    width: 450px;
    position: fixed;
    padding: 15px 5px;
    font-size: 13px;
    border-radius: 4px;
    text-align: center;
    color: rgb(202, 0, 0);
    transition: all 0.2s ease;
    border: 1px solid rgb(253, 71, 71);
    background-color: rgb(230, 140, 140);
}
.bottom-alert-success{
    color: green;
    border: 1px solid rgb(68, 247, 68);
    background-color: rgb(170, 250, 170);
}
@media only screen and (max-width: 767px){
    .bottom-alert-danger, .bottom-alert-success{
        width: 100%;
        right: 0px;
        border-radius: 0px;
    }

}

/* ********** CONFRIM ALERT BOX *********** */
.modal-alert-popup{
    display: none;
}
.sub-confirm-container{
    top: 0px;
    width: 100%;
    z-index: 30;
    height: 100vh;
    position: fixed;
    display: table;
    text-align: center; 
}
.sub-confirm-dark-theme{
    width: 100%;
    height: 100vh;
    padding: 0px 10px;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.623);
}
.sub-inner-content{
    width: 550px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
}
.confirm-header{
    padding: 10px 0px;
}
.confirm-header h4{
    font-size: 20px;
    margin: 0px;
    color:  rgba(248, 179, 50, 1)
}
.confirm-header p{
    font-size: 14px;
    margin: 0px;
}
button.confirm-box-close{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
button.confirm-box-close i{
    color:  rgb(51, 51, 143);
}
button.confirm-btn, button.btn-fill{
    border: none;
    cursor: pointer;
    width: 80%;
    color: #fff;
    padding: 10px 0px;
    border-radius: 4px;
    margin-bottom: 20px;
    transition:  background-color 0.2s ease;
    background-color:  rgb(51, 51, 143);
}
button.confirm-btn:hover{
    background-color: rgb(14, 14, 65);
}
button.btn-fill{
    width: 100%;
}
button.btn-fill:hover{
    background-color: rgb(14, 14, 65);
}
@media only screen and (max-width: 767px){
    .sub-inner-content{
        width: 90%;
    }
}
@media only screen and (max-width: 567px){
    .sub-inner-content{
        width: 100%;
    }
    .confirm-header p{
        font-size: 13px;
        padding: 0px 10px;
    }
}


/* ************LOGIN SECTION *********** */
.login-form-section{
    width: 100%;
    height: 100vh;
    display: table;
    background-color: rgb(25, 25, 41);
}
.form-body{
    display: table-cell;
    vertical-align: middle;
}
.form-body form{
    width: 40%;
    color: rgb(143, 143, 143);
    margin: 0 auto;
    padding: 40px 20px;
    background-color: rgb(10, 10, 22);
    /* box-shadow: 2px 2px 6px 2px rgb(8, 8, 8); */
}
.form-body form input{
    border: none;
    border-radius: 0px 4px 4px 0px;
    color: rgb(180, 180, 180);
    background-color: rgb(25, 25, 41);
}
.form-body form input:focus{
    color: #ccc;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #555;
    background-color: rgb(25, 25, 41);
}
.form-body form span, .form-body form a{
    font-size: 12px;
}
.form-body .title-header{
    color: #fff;
    margin-bottom: 30px;
}
.form-body .title-header h3{
    color: #fff;
}
.form-body .title-header p{
    color: #fff;
}
.form-body .title-header p a{
    color:  rgb(196, 142, 44);
}
.input-content{
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgb(31, 31, 63);
    background-color: rgb(30, 30, 63);
}
.input-icon{
    padding: 0px 15px;
    background-color: transparent;
}
.form-body form button{
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0px;
    border-radius: 4px;
    background-color: rgb(31, 31, 77);
}
.container-img{
    padding-bottom: 50px;
    text-align: center;
}
.container-img img{
    width: 150px;
}
@media only screen and (max-width: 1125px){
    .form-body form{
        width: 50%;
    }
}
@media only screen and (max-width: 992px){
    .form-body form{
        width: 60%;
    }
}
@media only screen and (max-width: 767px){
    .form-body form{
        width: 80%;
        box-shadow: 2px 2px 6px 2px rgb(8, 8, 8);
    }
}
@media only screen and (max-width: 567px){
    .form-body form{
        width: 100%;
    }
    .form-body{
        padding: 0px 10px;
    }
}
/* ************ NOTIFICATION *********** */
.notification-container{
    width: 60%;
    margin: 0 auto;
}
.notification-body{
    height: 450px;
    overflow: auto;
    /* padding: 20px 0px; */
    background-color: #fff;
    border-radius: 6px 6px 0px 0px;
}
.notification-body ul.ul-notification{
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}
.notification-body ul.ul-notification.active{
    background-color: rgb(246, 246, 246);
}
.notification-body ul.ul-notification li{
    font-size: 14px;
}
.notification-body ul.ul-notification li a{
    color: #555;
}
ul li.notification-drop-down{
    text-align: right;
    height: 0px;
}
.notification-body ul.ul-notification li.nots-items{
    display: flex;
    justify-content: space-between;
}
.notification-body ul.ul-notification li.nots-items a{
    font-size: 12px;
    color: rgb(146, 146, 146);
}
.notification-body ul.ul-notification li.nots-items span.date{
    font-size: 10px;
    color: rgb(71, 245, 71);
}
.notification-body .clear-nots{
    padding: 10px;
}
.notification-body .clear-not a{
    font-size: 11px;
}
@media only screen and (max-width: 992px){
    .notification-container{
        width: 100%;
    }
}
/* ********** LOGOUT ALERT ********* */
#logout_preloader_container{
    display: none;
}
.logout-preloader-container{
    top: 0px;
    width: 100%;
    z-index: 40;
    height: 100vh;
    position: fixed;
    display: table;
    text-align: center; 
}
.logout-preloader-dark-theme{
    width: 100%;
    height: 100vh;
    padding: 0px 40px;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.623);
}
.logout-inner-content{
    width: 300px;
    z-index: 20;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    background-color: #fff;
}
.logout-first{
    padding: 20px 0px 10px 0px;
    position: relative;
}
ul.ul-logout{
    list-style: none;
    padding: 0px;
}
ul.ul-logout li.logout-btns{
    border-top: 1px solid #ccc;
}
ul.ul-logout .logout-cancle, ul.ul-logout .logout-btn{
    display: inline-block;
    text-align: center;
    width: 100px;
}
ul.ul-logout li .logout-cancle{
    padding: 10px 0px;
    border-right: 1px solid #ccc;
}
ul.ul-logout li .logout-cancle a:hover{
    color: black;
}
ul.ul-logout li a{
    font-size: 13px;
    text-decoration: none;
}
ul.ul-logout li h4{
    font-weight: 600;
}
ul.ul-logout li p{
   font-size: 13px;
}
@media only screen and (max-width: 567px){
    .logout-inner-content{
        width: 100%;
    }
}
@media only screen and (max-width: 398px){
    .logout-preloader-dark-theme{
        padding: 0px 20px;
    }
    ul.ul-logout li h4{
        font-size: 21px;
    }
}

/* ************* TABLE ************* */
.table-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-top .page-icon i{
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(138, 138, 138);
    border: 1px solid rgb(209, 209, 209);
}


/* ********* PAGINATION ************ */
.paginate{
    height: 50px;
    position: relative;
    text-align: center;
}
.paginate nav{
    right: 0px;
    position: absolute;
}
@media only screen and (max-width: 767px){
    .paginate{
        position: static;
        text-align: left;
    } 
    .paginate nav{
        position: static;
    }
    .paginate nav ul.pagination{
        width: 100%;
        display: block;
        position: static;
        text-align: center;
    }
    .paginate nav ul.pagination li{
        display: inline-block;
    }
}
/* ************ BASIC ************ */
.avatar{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid rgb(252, 110, 110);
}
.avatar h4{
    top: 3px;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    color: rgb(196, 142, 44);
}
a.member-name{
    color: #555;
}
.avatar.active{
    border: 2px solid rgb(55, 250, 120);
}
.drop-down{
    position: relative;
}
.drop-down ul.drop-down-body{
    top: 0px;
    right: 0px;
    padding: 0px;
    width: 200px;
    z-index: 10;
    display: none;
    list-style: none;
    position: absolute;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgb(223, 223, 223);
}
.drop-down i{
    color: rgb(109, 106, 106);
}
.drop-down ul.drop-down-body li a{
    font-size: 12px;
    padding: 5px;
    display: block;
    color: rgb(109, 106, 106);
}
.drop-down ul.drop-down-body li a:hover{
    background-color:  rgb(243, 243, 243);
}
.suspend{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(184, 184, 184);
}
.suspend.active{
    border: 1px solid transparent;
    background-color: rgb(252, 110, 110);
}
.suspend a{
    display: block;
    width: 100%;
    height: 100%;
}
.check-box{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(184, 184, 184);
}
.check-box a{
    display: block;
    width: 100%;
    height: 100%;
}
.check-box.active{
    border: 1px solid transparent;
    background-color: rgb(96, 221, 96);
}
ul.drop-down-body li.li-deactivate a{
    color: rgb(252, 110, 110);
}
ul.drop-down-body li.li-deactivate a.active{
    color:  rgb(21, 248, 21);
}
/* *********** ERROR PAGE ********* */
.account-pages{
    height: 100vh;
    background-color: #fff;
}

/* ************ PROFILE DETAIL ************ */
.profile-detail-section{
    /* padding-top: 50px; */
}
.expand{
    padding:0px;
    margin: 0px;
}
.profile-detail-container{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.profile-detail-left{
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #fff;
    /* box-shadow: 2px 2px 6px 2px rgb(8, 8, 8); */
}
.profile-detail-left .title-header{
    display: flex;
    width: 100%;
    padding: 15px 10px;
    justify-content: space-between;
    border-bottom: 1px solid #f3f4f7;
}
.profile-detail-left .title-header h4, .profile-detail-left .title-header a{
    font-size: 14px;
    text-decoration: none;
    color: #555;
}
.profile-detail-left .title-header a{
    color:  rgb(54, 54, 133);
}
ul.ul-profile-detail{
    padding: 20px 10px;
}
ul.ul-profile-detail li{
    width: 100%;
    color: #555;
    display: flex;
    font-size: 13px;
    font-weight: 300;
    padding: 8px 0px;
}
ul.ul-profile-detail li .title{
    width: 40%;
}
ul.ul-profile-detail li .body{
    font-size: 11px;
}
ul.ul-profile-detail li p.detail-about-p{
    font-size: 12px;
}
.member-id-card{
    width: 100%;
    padding: 20px;
}
.member-id-card img{
    width: 100%;
}
@media only screen and (max-width: 1125px){
    .profile-detail-container{
        width: 100%;
        padding: 0px 20px 100px 20px;

    }
    .container-fluid{
        padding: 0px;
    }
}
@media only screen and (max-width: 567px){
    .profile-detail-container{
        padding: 0px 10px 100px 10px;
    }
    .profile-detail-section{
        padding: 50px 4px;
    }
}


/* *********** PROFILE MATCH SECTION ********* */
.modal-form-section{
    display: none;
}
.edit-info-main{
    top: 0px;
    width: 100%;
    z-index: 30;
    height: 100vh;
    position: fixed;
    display: table;
    text-align: center;
}
.edit-info-dark-theme{
    width: 100%;
    height: 100vh;
    padding: 0px 10px;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.623);
}
.edit-info-container{
    width: 800px;
}
.edit-info-container{
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    background-color:#fff;
}
.edit-info-container .title-header{
    padding: 10px 0px;
    margin-top: 20px;
}
.btn-close-container{
    height: 0px;
    width: 100%;
    /* padding: 10px; */
    position: relative;
}
.btn-close-container button{
    top: 0px;
    right: 0px;
    position: absolute;
    border: none;
    background-color: transparent;
}
.btn-close-container button{
    color:   rgb(40, 40, 102);
}
.form-input-popup{
    padding: 20px;
}
.form-input-popup form input, .form-input-popup form textarea{
    border-radius: 4px;
    color: #555;
}
.form-input-popup form input:focus, .form-input-popup form textarea:focus{
    color:#555;
    outline: none;
    box-shadow: none;
}
.form-input-popup .alert-form{
    font-size: 11px;
    text-align: left;
}
@media only screen and (max-width: 992px){
    .edit-info-container{
        width: 95%;
    }
}
@media only screen and (max-width: 767px){
    .edit-info-container{
        width: 100%;
        height: 600px;
        overflow-y: scroll;
    }
    .edit-info-container::-webkit-scrollbar{
        width: 0px;
    }
}
@media only screen and (max-width: 567px){
    .form-input-popup{
        padding: 20px 10px;
    }
}
@media only screen and (max-width: 398px){
    .edit-info-container{
        height: 500px;
    }
}
/* ********** ADD MEMBERS *********** */
.form-validation{
    width: 50%;
    margin: 0 auto;
    padding: 30px 0px;
}


/* ************ REPORT PAGE ************* */
ul.ul-report li.other-reports{
    display: block;
}
.ul-other-reports .child-report{
    padding: 5px 10px;
    margin: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

}

/* ************* PROFILE PAGE ************* */
.img-loader-container{
    display: none;
}
.profile-img-container{
    padding: 20px 0px;
}
.inner-image{
    width: 200px;
    height: 200px;
    position: relative;
    background-size: cover;
    background-color: #fff;
    background-position: center;
}
.img-loader-container .img-loader{
    top: 80px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    border: 3px solid rgb(66, 66, 163);
    border-right: 3px solid transparent;
    -webkit-animation: access-spin 0.4s linear infinite; 
    animation: access-spin 0.4s linear infinite;
}
a.profile-image-icon{
    right: 5px;
    bottom: 5px;
    font-size: 15px;
    padding: 5px 10px;
    position: absolute;
    border-radius: 4px;
    background-color: #ccc;
}
@keyframes access-spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 567px){
    .inner-image{
        margin: 0 auto;
    }
}
@media only screen and (max-width: 398px){
    .inner-image{
       width: 150px;
       height: 150px;
    }
    .img-loader-container .img-loader{
        top: 60px;
    }
}

/* *********** CROPPER ***************** */
.cropper-form{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.cropper-form img{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 567px){
    .cropper-form{
        width: 100%;
    }
    .sub-inner-content.cropper{
        padding: 5px;
    }
}



/* ************ SETTINGS SECTION *********** */
.form-body-settings{
    padding: 10px;
}
.footer-image {
    width: 200px;
    height: 100px;
    overflow: hidden;
    border-radius: 3px;
    background-color: #ccc;
}
.footer-image img{
    width: 100%;
    border-radius: 3px;
    background-color: #ccc;
}
.app-image-logo{
    padding: 10px;
    border-radius: 3px;
    background-color: #333;
}
.app-image-logo img{
    width: 100%;
    border-radius: 3px;
}
.banner-slider-body{
    padding: 10px;
}
ul.ul-slide-banner{
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    /* overflow: hidden; */
    list-style: none;
    position: relative;
    border-radius: 5px;
}
ul.ul-slide-banner img{
    width: 100%;
    border-radius: 5px;
}

ul.ul-slide-banner li.banner-slider-icon{
    height: 0px;
    z-index: 10;
    text-align: right;
}
ul.ul-slide-banner li.banner-slider-icon a{
    top: 5px;
    right: 5px;
    z-index: 5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    background-color: #ccc;
}
ul.ul-slide-banner li.banner-slider-icon a.slider-delete-icon{
    top: 50px;
    color: rgb(250, 68, 68);
}
.banner-slider-body{
    display: inline-block;
}
ul.ul-slide-banner li a.upload-slider-icon{
    color: #fff;
    font-size: 200px;
    padding: 5px 40px;
    border-radius: 10px;
    background-color: #ccc;
}
@media only screen and (max-width: 567px){
    ul.ul-slide-banner li a.upload-slider-icon{
        font-size: 150px;
    }
}
@media only screen and (max-width: 398px){
    ul.ul-slide-banner li a.upload-slider-icon{
        font-size: 100px;
    }
}


/* *********** FOOTER ************ */
.footer-items{
    height: 0px;
}




/* ************ SUBCRIPTION *********** */
ul.ul-bank-icons{
    padding: 10px;
}
li.bank-icons{
    width: 80px;
    height: 80px;
    margin: 0px 5px;
    display: inline-block;
    position: relative;
    /* border: 1px solid #ccc; */
}
li.bank-icons img{
    top: 0px;
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 4px;
}
li.bank-icons a{
    top: 0px;
    right: 0px;
    z-index: 10px;
    position: absolute;
    padding: 3px 7px;
    background-color: rgba(51, 51, 51, 0.281);
}
li.text-icons a.add-bank-icon{
    padding: 15px;
    color: #fff;
    border-radius: 4px;
    background-color: rgba(238, 238, 238, 0.788);;
}
li.text-icons a.add-bank-icon i{
    font-size: 50px
}
ul.ul-payemt-desc{
    list-style: none;
    padding: 10px;
}
ul.ul-payemt-desc li.li-payment-desc{
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
}
ul.ul-payemt-desc li p{
    margin: 0px;
    padding: 0px 10px;
    width: 100%;
}
ul.ul-payemt-desc li .drop-down-body li{
    display: block;
}
.form-desc-add{
    padding: 10px;
    border-top: 1px solid rgb(240, 240, 240);
}
.form-desc-add form{
    width: 50%;
    margin: 0 auto;
}
.desc-form-group{
    display: flex;
}
.desc-form-group button{
    border: none;
    border-radius: 0px;
    color: #fff;
    background-color:  rgb(31, 31, 77);
}
.desc-form-group input{
    border-radius: 0px;
}
@media only screen and (max-width: 1125px){
    .form-desc-add form{
        width: 80%;
    }
}
@media only screen and (max-width: 992px){
    .form-desc-add form{
        width: 100%;
    }
}
@media only screen and (max-width: 567px){
    li.bank-icons{
        width: 50px;
        height: 50px;
    }
    li.bank-icons img{
        width: 50px;
        height: 50px;
    }
    li.text-icons a.add-bank-icon{
        padding: 10px;
    }
    li.text-icons a.add-bank-icon i{
        font-size: 30px
    }
}



/* ******* SUMMER NOTES EDITOR */
.note-toolbar.card-header{
    z-index: 10;
}





